p {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 18px;
  font-size: 16px;
}



.bio {
  margin-top: 19%;
  text-align: center;
  padding: 15px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}