body {
  margin: 0px;
  font-family: DMSans-Regular, system-ui;
  color: rgb(172, 115, 74);
  background-color: rgb(250, 246, 239);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 30px;

}

:root {
  font-size: 10pt;
}

@font-face {
  font-family: Mangro;
  src: url(mangro.ttf);
}

@font-face {
  font-family: DMSans-ExtraLight;
  src: url(DMSans-ExtraLight.ttf);
}

@font-face {
  font-family: DMSans-Regular;
  src: url(DMSans-Regular.ttf);
}

@font-face {
  font-family: DMSans-Italic;
  src: url(DMSans-Italic.ttf);
}

.project-title,
.director,
.project-type {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}


.project-type {
  font-family: DMSans-ExtraLight, system-ui;
  padding-bottom: 20px;
}

h1 {
  font-family: DMSans-Regular, system-ui;
  padding-top: 5px;
}

a:link,
a:visited {
  color: rgb(172, 115, 74);
  text-decoration: none;
}

a:hover,
a:active {
  color: rgb(172, 115, 74);
  text-decoration: underline;
  text-decoration-thickness: 1px;
}