.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 5px;
  gap: 10px;
  z-index: 500;

}

.header-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: fit-content;
}

.header-side-element {
  font-size: 1.5rem;
  text-transform: uppercase;
}

a {
  height: fit-content;
}

p {
  margin: 0;
}

.Nik {
  font-size: 3rem;
  font-family: BigillaBold;
  text-transform: uppercase;
  letter-spacing: 1.1rem;
  line-height: 100%;
  text-decoration-thickness: 1px;
}

.cinematographer {
  font-family: BigillaBold;
  letter-spacing: 5px;
  line-height: 10px;
  font-size: 1.8rem;
  text-decoration-thickness: 1px;
}

@media (max-width: 600px) {
  .header {
    margin: 150px 5px 10px 5px;
  }

  .header-middle {
    position: absolute;
    top: 30px;
    right: 20%;
    left: 20%;
  }

  .Nik {
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }

  .footer-links {
    flex-direction: column;
  }
}


.footer {
  margin: 50px 0px;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.footer-links {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}