* {
  padding: 0;
}

header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

li {
  list-style: none;
}

.nav-menu {
  min-height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 50px;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  z-index: 2000;

}

a:is(:link, :active, :visited).menu-active {
  font-family: DMSans-Italic;
  text-decoration: underline;
}



.nik {
  font-size: 3rem;
  font-family: BigillaBold;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  line-height: 150%;
}

.cinematographer {
  font-family: BigillaBold;
  text-transform: lowercase;
  letter-spacing: 5px;
  font-size: 1.6rem;
}

.nik a:hover {
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s easi-in-out;
  background-color: rgb(172, 115, 74);
}

.position-hamburger {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 3000;
  padding: 15px;
}


@media(max-width:720px) {
  .nik {
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }

  .cinematographer {
    letter-spacing: 5px;
    font-size: 1.3rem;
  }

  header {
    margin: 30px 30px 30px 30px;
  }

  .hamburger {
    display: block;

  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: -30px;
    gap: 0;
    height: 100%;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    right: 0;
  }
}