body {
  background-color: black;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 18px;
}

.showreel-video {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: -60px;

}

@media (max-width: 1000px) {
  .showreel-video {
    margin: 0;

  }
}